<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/ajax/libs/bootstrap-touchspin/3.1.2/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css}" rel="stylesheet" media="screen" />

    <!-- Custom CSS -->
    <link th:href="@{/css/springboot-admin.css}" rel="stylesheet" media="screen" />

	<!-- Javascript -->
	<script th:src="@{/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script th:src="@{/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
 	<script th:src="@{/ajax/libs/bootstrap-touchspin/3.1.2/jquery.bootstrap-touchspin.min.js}"></script>
 	<script th:src="@{/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js}"></script>

</head>

<body>
</body>

</html>