<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>
	<!--/*/ <th:block th:include="fragments/adminheaderinc :: head"></th:block> /*/-->

</head>
<body>
	<div id="wrapper">
	<!--/*/ <th:block th:include="fragments/adminheader :: header"></th:block> /*/-->
	
	<div id="page-wrapper">
		<div class="container-fluid">
			<form class="form-horizontal"  th:action="${'/'+adminpath+'/post/'+domainnamelowercase+'/' +size+'/' +page}" method="post">
			<div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title" th:text="${formatteddomainname+' edit'}"></h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                   	<a th:href="${'/'+adminpath+'/list/' +domainnamelowercase+'/' +size+'/' +page}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> List</a>
		    		<a th:href="${'/'+adminpath+'/view/' +domainnamelowercase+'/' +size+'/' +page+'/' +  id}" th:if="${not isnew}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View</a>
		    		<a th:href="${'/'+adminpath+'/delete/'+domainnamelowercase+'/' +size+'/' +page+'/' +  id}" th:if="${not isnew}" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                  </div>
                </div>
              </div>
              <div class="panel-body panel-body-edit">
              		<div th:class="${#strings.isEmpty(message)}? 'hidden' : 'alert alert-danger'">
    					<strong>Error!</strong>
    					<div th:utext="${message}"></div>
					</div>
		            <div class="form-group" th:each="field : ${fields}" th:switch="${field.type}" >
		                <label class="col-sm-2 control-label" th:text="${field.formattedName}"></label>

						<!-- https://eonasdan.github.io/bootstrap-datetimepicker/  -->

		                <div class="col-sm-10" th:case="number">
		                	<input  type="text" class="form-control" th:name="${field.name}" th:readonly="${#strings.equals(field.name,'id') and idreadonly}" th:value="${field.value}"/>
							<script th:inline="javascript">
            					$( /*[[${'input[name='+field.name +']'}]]*/).TouchSpin(
            							{
            				                min: /*[[${field.min}]]*/,
            				                max: /*[[${field.max}]]*/,
            				                step: /*[[${field.step}]]*/,
            				                decimals: /*[[${field.scale}]]*/
            				            });
        					</script>
		                </div>
		                <div class="col-sm-10" th:case="boolean">
		                	<input  type="hidden" class="form-control" th:name="${field.name}" th:value="${field.value}"/>
		                	<input  type="checkbox" class="form-control" th:name="${'checkbox_'+field.name}" data-toggle="toggle" th:checked="${field.value}" th:value="${field.value}" data-on="true" data-off="false"/>
		                	<script th:inline="javascript">
		                		$( /*[[${'input[name=checkbox_'+field.name +']'}]]*/).change(function() {
		                			$(/*[[${'input[name='+field.name +']'}]]*/).attr('value',$(this).prop('checked'));
		                		});
            				</script>	
		                </div>
		                <div class="col-sm-10" th:case="date">
		               	<!--  <div class="form-group">-->
                				<div class="input-group date" th:id="${'datetimepicker_'+field.name}">
                    				<input  type="text" class="form-control" th:name="${field.name}" th:value="${field.value}"/>
                    				<span class="input-group-addon">
                        			<span class="glyphicon glyphicon-calendar"></span>
                    				</span>
                				</div>
           					<!-- </div>-->
		                	<script th:inline="javascript">
		                		$(function () {
		                        	$(/*[[${'#datetimepicker_'+field.name}]]*/).datetimepicker({
		                        		format: 'YYYY-MM-DD HH:mm:ss'
		                        	});
		                    	});
            				</script>	
		                </div>
		                <div class="col-sm-10" th:case="text">
		                    <input type="text" class="form-control" th:name="${field.name}" th:readonly="${#strings.equals(field.name,'id') and idreadonly}" th:value="${field.value}"/>
		                </div>
		                
		                
		                
		            </div>
              </div>
              
              <!-- https://bootsnipp.com/snippets/featured/table-panel-with-pagination  -->
              
              <div class="panel-footer">
                 <div class="row">
                 	<div class="col col-xs-10"></div>
		            <div class="col col-xs-2 text-right">
		                <button type="submit" class="btn btn-default btn-primary">Save</button>
		            </div>
		         </div>
              </div>
            </div>
            </form>

		</div>
	</div>
</div>

</body>
</html>
